name: Test Docusaurus

on:
    pull_request:  
        branches: ["dev", "main"]
    
jobs:
    build:
        runs-on:  ubuntu-latest
        defaults: 
            run: 
                working-directory: docs
        container: 
            image: node:lts
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Cache Dependencies
              uses: actions/cache@v3
              with:
                    path: docs/node_modules
                    key: ${{ runner.os }}-docs-${{ hashFiles('docs/package-lock.json') }}
                    restore-keys: ${{ runner.os }}-docs- 
            
            - name: Install dependencies
              run: npm ci
            
            - name: Build Docusaurus
              run: npm run build
